@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #D2D7DE;
}

body {
   background-color: #001427;
}

/* HOME */

.seccionHome{
    height: 600px;
}

img{
    position: relative;
    width: 100%;
    height: 600px;
    opacity: 0.5;
}

ul {
  display: flex;
  list-style: none;
  margin: 20px;
  padding: 10px;
  position: absolute;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.101);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 10px;
}

ul li {
    margin: 2px 10px;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: all .4s;
}
ul li:hover{
    border-bottom: 2px solid #F1D28A;
    cursor: pointer;
}

ul li a{
      text-decoration: none;
      color: #c5c9d1;
      border-radius: 5px;     
      letter-spacing: 1px;
}

.divH{
  display: flex;
  justify-content: center;
  align-items: center;
background-color: rgba(86, 86, 86, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 10px;
padding: 25px;
position: absolute;
top: 40%; 
left: 50%; 
transform: translate(-50%, -50%);
}

.hHome {
    color: #D2D7DE;
    display: block;
    white-space: nowrap;
    width: 31ch;


    animation: typing 3s steps(31), blink .5s infinite step-end alternate;
    overflow: hidden;
}
    
@keyframes typing {
    from { width: 0; }
}
    
@keyframes blink {
    50% { border-color: transparent; }
}

span{
    color: #E37834;
}

/* ABOUT */

.seccionAbout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 500px;
    grid-template-areas: "divTituloAbout divTituloAbout" 
                         "divTextoAbout divFotoAbout" ;
}

.divTituloAbout {
    grid-area: divTituloAbout;
}

.h2TituloAbout {
    color: #D2D7DE;
    margin: 50px 0px 0px 110px;
}

.pTextoAbout{
    font-size: 18px;
}

.divTextoAbout {
    grid-area: divTextoAbout;
    margin-left: 100px;
}

.divBtnDescargar{
    height: 50px;
    display: flex;
    justify-content: start;
}

.btnCv {
    width: 150px;
    height: 40px;
    font-weight: 600;
    padding: 7px;
    border-radius: 7px;
    border: none;
    background-color: #F1D28A;
    border: 1px solid #001427;
    color: #51011E;
    margin: 20px 7px 0px 7px;
    transition: all .4s;
    text-decoration: none;
}

.btnCv:hover {
    background-color: #001427;
    border: 1px solid #F1D28A;
    color: #F1D28A;
}

hr{
    height: 150px;
    background-color: white;
    color: white;
    width: 5px;
    opacity: 1;
    border-radius: 5px;
}

.divFotoAbout {
    grid-area: divFotoAbout;
}

.imgFoto{
    opacity: 1;
    margin-right: 100px;
    width: 250px;
    height: 250px;
}

/* SKILLS */

.seccionSkills{
    height: 600px;
    background-color: #fff;
}

.h2TituloSkills{
    color: #001427;
    margin: 0px 0px 0px 50px;
    padding-top: 65px;
    font-weight: 600;
}

.divImgSkills{
    margin: 50px 0px;
    display: flex;
    justify-content: space-around;
}

.imgSkills{
   width: 100px;
   height: 100px;
   opacity: 1;
}
.bootstrap{
    width: 120px;
    margin-left: -10px;
}
.node{
    width: 140px;
    margin-left: -30px;
    margin-right: -10px;
}

/* PORTFOLIO */

.seccionPortfolio{
    min-height: 1800px;
    width: 100%;
}

.divProyecto{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.h2TituloPortfolio{
    margin: 0px 0px 0px 100px;
    padding-top: 65px;
    font-weight: 600;
}

.hrProyectos{
    width: 90%;
    height: 5px;
    background-color: white;
    opacity: 1;
    margin: 70px 0px;
}

.divImgProyectos{
    width: 350px;
    height: 300px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.imgProyectos{
    height: 100%;
    transition: all 1s;    
    border-radius: 15px;
    opacity: .8;
   }
   
   .imgProyectos:hover{
       transform: scale(1.05);
       opacity: 1;
   }

   .img1{
    width: 350px;
   }

   .img4{
    width: 250px;
   }

   .img9{
    width: 350px;
   }

   .aCode{
    background-color: transparent;
    border: 1px solid #F1D28A;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 15px;
    color: #F1D28A;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    display: inline-block; 
  }
  
  .aCode:hover { 
    background-color: #F1D28A;
    border: 1px solid #001427;
    color: #001427;
  }
  
/* CONTACTO */

footer{
    height: 100px;
}

.divI{
    height: 70px;
    width: 90%;
}

i{
    font-size: 50px;
    padding: 5px;
}

i:hover{
    color: #F1D28A;
    cursor: pointer;
}

.hrFooter{
    width: 90%;
    height: 5px;
    background-color: white;
    opacity: 1;
    margin: 40px 0px;
}

.pFooter{
    width: 400px;
    text-align: center;
    margin: 25px 0px;
}



/********* RESPONSIVE *********/

/* RESPONSIVE 1000 */

@media(max-width: 1000px) {
    .seccionHome{
        height: 400px;
        display: flex;
        justify-content: center;
    }
    
    img{
        height: 400px;
    }

    .divH{
        padding: 20px;
        top: 30%; 
        }
        
        .hHome {
        font-size: 25px;
        }

        /* ABOUT */

.seccionAbout{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px 300px;
        grid-template-areas: "divTituloAbout divTituloAbout" 
                              "divTextoAbout divFotoAbout" ;
}

.divTextoAbout{
    width: 350px;
}

.pTextoAbout{
    font-size: 13px;
}

.h2Desarrollador{
    font-size: 23px;
}
.imgFoto{
    margin-right: 30px;
}

/* PORTFOLIO */

.divProyecto{
    width: 400px;
    height: 450px;
}

.divImgProyectos{
    width: 380px;
    height: 250px;
}
}


/* RESPONSIVE 800 */


@media(max-width: 800px) {
/* HOME */

.seccionHome{
    height: 300px;
    display: flex;
    justify-content:center !important;
}

img{
    height: 300px;
}

ul {
  margin: 20px;
  padding: 10px;
}

ul li {
    margin: 2px 7px;
    font-size: 15px;
}
.divH{
padding: 20px;
top: 25%; 

}

.hHome {
font-size: 20px;
}

/* ABOUT */


.seccionAbout{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100px 300px 350px;
    grid-template-areas: "divTituloAbout divTituloAbout" 
                         "divTextoAbout divTextoAbout" 
                         "divFotoAbout divFotoAbout" ;
}

.pTextoAbout{
    font-size: 18px;
}

.divTituloAbout{
    display: flex;
    justify-content: center;
}

.h2TituloAbout{
    margin-top: 50px;
    margin-left: 0;
}

.divTextoAbout {
    width: 100%;
    margin: 0;
    align-items: center;
    text-align: center;
}

.h2Desarrollador{
    font-size: 28px;
}

.divBtnDescargar{
    height: 50px;
    display: flex;
    justify-content: center;
}

hr{
    height: 5px;
    width: 90%;
}

.divFotoAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgFoto{
    margin: 10px;
}

/* SKILLS */


.seccionSkills{
    height: 400px;
}

.divTituloSkills{
   margin: 0 !important;
   display: flex;
   justify-content: center;
}

.h2TituloSkills{
    padding-top: 25px;
    margin-left: 0px;
}

.imgSkills{
   width: 70px;
   height: 70px;
   opacity: 1;
}
.bootstrap{
    width: 90px;
}
.node{
    width: 110px;
    margin-left: -19px;
    margin-right: -15px;
}

/* PORTFOLIO */

.divTituloPortfolio{
    display: flex;
    justify-content: center;
}

.h2TituloPortfolio{
    margin:0;
}

.hrProyectos{
    margin-top: 10px;
    margin-bottom: 50px;
}

.seccionPortfolio{
    height: 4400px;
}

.divProyecto{
    width: 400px;
    height: 450px;
}

.divImgProyectos{
    width: 380px;
    height: 250px;
}
   .img1{
    width:350px;
   }

   .img4{
    width: 250px;
   }

   .img9{
    width: 300px;
   }
   
   /* FOOTER */

   i{
    font-size: 40px;
}
}

